* {
  margin: 0;
}
html,
body {
  --black: hsl(240, 6%, 13%);
  --gray: hsl(240, 9%, 89%);
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: start center;
}

main {
  background: url(images/background.svg) no-repeat center/cover;
  width: 100vw;
  min-height: 812px;
  height: 100vh;
}

.content {
  max-width: 250px;
  margin: 0 auto;
  text-align: center;
  color: var(--gray);
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 2s;
}
.content.flipped {
  transform: translateX(-100%) rotateY(-180deg);
}
.card {
  position: absolute;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
.cardBack {
  transform: rotateY(180deg);
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;
  position: relative;
}
.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}
.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

a {
  color: var(--gray);
  text-decoration: none;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
  margin-top: 0.25rem;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: end;
  margin-top: 0.8rem;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

button > img {
  filter: brightness(40%);
}
button:disabled {
  display: none;
}

/* Regras de estilo que serão lidas apenas quando a tela tiver no mínimo 720px */

@media (min-width: 720px) {
  body {
    background: linear-gradient(
      to bottom,
      #b50567,
      #cb2356,
      #d94245,
      #e06035,
      #df7d25,
      #d07728,
      #c1712a,
      #b36b2c,
      #8d492f,
      #612f2a,
      #331b1d,
      #000000
    );
    position: relative;
  }

  main {
    background-image: none;
    width: 100vw;
    min-height: 540px;
    height: 680px;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 2s;
  }

  .content.flipped {
    transform: translateX(-100%) rotateY(-180deg);
  }

  .card {
    background: url('./images/tag.png') no-repeat center/cover;
    width: 358px;
  }

  .avatar {
    margin: 12.5rem auto 0;
  }

  p {
    margin: 1rem;
  }
  ul {
    margin-top: 2rem;
  }
}
